<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "http://localhost:5173"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS, DELETE"
    Header always set Access-Control-Allow-Headers "Content-Type"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>


