RewriteEngine On
# Set RewriteBase to the correct subdirectory
RewriteBase /assignment/backend

# Handle requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Allow DELETE requests
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^(.*)$ /assignment/backend/index.php [L]

# Rewrite all other requests to the index.php file
RewriteRule ^(.*)$ /assignment/backend/index.php [L]

