RewriteEngine On
RewriteBase /app

# Handle requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Allow DELETE requests
RewriteCond %{REQUEST_METHOD} DELETE
RewriteRule ^(.*)$ /index.php [L]

# Rewrite all other requests to the index.php file
RewriteRule ^(.*)$ /index.php [L]

# CORS headers
Header set Access-Control-Allow-Origin "http://localhost:5173"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"

